<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados1</title>
</head>
<body>
    <p>Aqui estao seus resultados:</p>
    {% set j = 1 %}
    {% for i in gruposIndices[pagina_num - 1] %}
        <br>
        <a href="/textos/texto{{i}}">Texto{{i}}</a>
        {{ resumos[i] }}
        <br>
        
    {% endfor %}
    

    <p>Estamos na pagina {{ pagina_num }} de resultados</p>
</body>
</html>